@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  line-height: 1.3;
  color: #000000; }

html, body, input, textarea {
  font-family: "Geomanist", sans-serif;
  font-size: 14px; }

img, video {
  vertical-align: middle; }

.btn {
  display: inline-block;
  padding: 6px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #54a963;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none; }
  .btn:hover {
    background-color: #4c9859; }

.alert {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px; }
  .alert-error {
    background-color: #fae3e5;
    border: solid 1px #f3b7bd;
    color: #dc3545; }

.form-group {
  margin-bottom: 10px; }
  .form-group .control-label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px; }
  .form-group .form-control {
    height: 30px;
    border-radius: 4px;
    border: solid 1px #d8d8d8;
    padding: 4px 10px;
    width: 100%; }
    .form-group .form-control:focus {
      outline: none;
      border-color: #8c8c8c; }

.form-check .form-control {
  display: none; }
  .form-check .form-control + .control-label {
    cursor: pointer;
    color: #999; }
    .form-check .form-control + .control-label:before {
      content: "";
      font-family: "Font Awesome 5 Pro";
      display: inline-block;
      min-width: 20px; }
  .form-check .form-control:checked + .control-label {
    color: #000000; }
    .form-check .form-control:checked + .control-label:before {
      content: "";
      font-weight: 700;
      color: #54a963; }

.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px; }

.login {
  height: 100vh;
  max-height: 100vh;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .login-wrapper {
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
